@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Source+Serif+Pro:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme inline {
  --font-sans: 'Source Serif Pro', serif;
  --font-display: 'Playfair Display', serif;
}

body {
  font-family: 'Source Serif Pro', serif;
  letter-spacing: -0.01em;
  transition: background-color 0.3s ease, color 0.3s ease;
}
